.main-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;

    &__intro {
        flex-basis: 100%;
        height: 60px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.362);
        padding: 10px;
        margin: 40px 0 30px;
        font-size: 2rem;
        letter-spacing: 1.5px;

        @media (max-width: 600px) {
            font-size: 1.5rem;
            height: 50px;
        }
    }

    .article {
        flex-basis: 45%;
        padding: 20px 30px;
        text-align: center;

        @media (max-width: 800px) {
            flex-basis: 80%;
        }

        &__image {
            display: block;
            box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.5);
            width: 100%;
        }

        &__title {
            font-size: 1.5rem;
            margin: 10px;

            @media (max-width: 800px) {
                font-size: 1.5rem;
            }
        }

        &__introduction {
            font-size: 1rem;
            line-height: 1.5rem;

            @media (max-width: 800px) {
                font-size: 0.7rem;
            }

            @media (max-width: 600px) {
                line-height: normal;
            }
        }

        &__btn {
            display: block;
            color: black;
            margin: 10px auto;
            font-size: 1rem;
            padding: 10px;
            text-decoration: none;
            background-color: rgba($main-color, 0.9);
            border: 2px solid black;
            width: 30%;
            transition: 0.2s;

            @media (max-width: 800px) {
                font-size: 0.8rem;
                width: 30%;
            }

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}